
.threshold {
    display:flex;
    justify-content:center;
    margin-top: 2%;
}
.panel-heading{
    border-radius: 0;
	font-weight: bold;
	font-size: 13px;
	
}
.panel{
    margin-left: 2.55%;
    width: 15%;
	/*width: auto;*/
    height: auto;
    border-radius: 0;
    
    /*border-bottom: 4px solid #428bca;*/
    box-shadow: 0px 0px 10px rgba(0,0,0,0.05),
    0px 10px 20px rgba(0,0,0,0.05),
    0px 20px 20px rgba(0,0,0,0.05),
    0px 30px 20px rgba(0,0,0,0.05);
}

.panel-primary{
    color: #428bca;
	
}
.panel-danger{
    color: #e74c3c;
	
}
.panel-success{
    color: #81c784;
	
}
.panel-modify{
    width: 50%; 
    height:auto;
    /*border:black solid 0.2px; */
	box-shadow: 0px 0px 10px rgba(0,0,0,0.05),
    0px 10px 20px rgba(0,0,0,0.05),
    0px 20px 20px rgba(0,0,0,0.05),
    0px 30px 20px rgba(0,0,0,0.05);
	
}

.my-application{
    display:flex;
    justify-content:center;
    margin-top: 1%;
}
.my-application .panel-heading h4 {
		margin-bottom: -5px;
}


.btn-modify{
    width: 286px;
    border-radius: 0;
	padding: 10px;
	margin-left:30px;
	text-transform: capitalize;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #428bca;
    margin: 1em 0;
    padding: 0; 
}
.primary{
	background-image: url("images/primary.png");
	background-size: 20px 70px;
	background-repeat: no-repeat;
	background-color:white;
	font-weight: bold;
}
.danger{
	background-image: url("images/danger.png");
	background-size: 20px 70px;
	background-repeat: no-repeat;
	font-weight: bold;
}
.success{
	background-image: url("images/success.png");
	background-size: 20px 70px;
	background-repeat: no-repeat;
	font-weight: bold;
}

.btn-upper{
	font-size:30px;
}



@media only screen and (max-width: 320px) {

 .btn-modify{
    	width: 200px;
		font-size: 10px;
	}
.panel-heading{
		font-size: 10px;
	}
.btn-upper{
	font-size: 20px;
}

}

@media only screen and  (max-width: 1440px) {
	.panel{
		width:100%;
	}
}

